name: Next.js CI/CD

on:
  push:
    branches:
      - main
      - develop
  pull_request:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run lint
        run: npm run lint

      - name: Build Next.js app
        run: npm run build

      - name: Deploy to Vercel
        run: |
          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            echo "Deploying production..."
            npx vercel --prod --yes --token=${{ secrets.VERCEL_TOKEN }}

          elif [ "${{ github.ref }}" = "refs/heads/develop" ]; then
            echo "Deploying staging..."

            DEPLOY_URL=$(npx vercel --yes --token=${{ secrets.VERCEL_TOKEN }})
            echo "Deployment URL: $DEPLOY_URL"

            npx vercel alias $DEPLOY_URL next-ci-cd-demo-develop.vercel.app \
              --token=${{ secrets.VERCEL_TOKEN }}

          else
            echo "Deploying preview..."
            npx vercel --yes --token=${{ secrets.VERCEL_TOKEN }}
          fi
